<div class="container" style="margin-top: 10%">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center">
      <h1>Find your friends</h1>
      <p class="lead">
        Discover your friends. Step inside and sign up to view your matches!
      </p>
      <div
        class="text-center d-flex justify-content-center align-center flex-wrap gap-1"
      >
        <button
          class="btn btn-primary btn-lg mb-md-0"
          routerLink="/register"
          [@enterLeft]="animationState"
        >
          Register
        </button>
        <button
          class="btn btn-outline-primary btn-lg mb-md-0"
          [@enterRight]="animationState"
        >
          Learn more
        </button>
      </div>
    </div>
  </div>
</div>
