.card:hover img {
  transform: scale(1.2, 1.2);
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.card img {
  transform: scale(1, 1);
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.card-img-wrapper {
  overflow: hidden;
  position: relative;
}

.member-icons {
  position: absolute;
  bottom: -30%;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  transition-duration: 500ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img-wrapper:hover .member-icons {
  opacity: 1;
  bottom: 5%;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}


