.card:hover img {
  transform: scale(1.2);
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.card img {
  transform: scale(1);
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.card-img-wrapper {
  overflow: hidden;
  position: relative;
}

.member-icons {
  position: absolute;
  bottom: -30%;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  transition-duration: 500ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img-wrapper:hover .member-icons {
  opacity: 1;
  bottom: 5%;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.member-icons button {
  font-size: 24px;
  margin: 5px;
  padding: 7px 12px;
}

.card-title {
  font-size: 20px;
  font-weight: 600;
}

@keyframes fa-blink {
  0% {
    opacity: 0.4;
  }
  20% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

.is-online {
  animation: fa-blink 1.8s infinite;
  color: #00ff00;
}
